.skill-title{
    text-align: left;
    padding-left: 20px;
}

.skill-cont {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    justify-self: center;
    row-gap: 40px;
    align-items: center;
    margin-top: 60px;
}