.nav-div {
    width: 100%;
    height: 70px;
    border-bottom: solid 2px white;
    display: flex;
    justify-content: start;
    align-items: center;
}

.title {
    font-size: x-large;
    padding-left: 10px;
}

.nav-cont img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
    transform: scale(1.2);
}

.nav-cont {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
}